# Ignore virtual environment
.venv/
__pycache__/
*.pyc

# Ignore media uploads and output files
uploads/
*.mp4
*.wav
*.TextGrid
*.praat

# Ignore Whisper models and assets
*.pt
*.onnx
*.tiktoken
*.npz

# OS and editor metadata
.DS_Store
.idea/
.vscode/