# Ignore all user-uploaded videos and process videos
uploads/

# Ignore the compiled python files
__pycache__/
*.pyc

# Ignore virtual environment
.venv/

# Ignore logs and temporary files
*.log
*.tmp
