{% extends "base.html" %}

{% block title %}JagCoach - Home{% endblock %}

{% block content %}
    <h2>Please choose an MP4 video presentation from your files to analyze. ☺</h2>

    <div class="file-frame">
        <input type="file" id="fileInput" class="hidden-file-input" accept="video/*">
        <button class="file-button" onclick="document.getElementById('fileInput').click()">Browse Files</button>
        <p id="fileName" style="color: white; margin-top: 10px;"></p>
    </div>

    {% if message %}
        <div class="upload-message">
            <p>{{ message }}</p>
            <p>File saved at: {{ file_path }}</p>
        </div>
    {% endif %}

    <div id="img">
        <img src="{{ url_for('static', filename='images/jaguar-head.png') }}" alt="Jaguar Logo" width="100" height="100">
    </div>

    <video id="vPlayback" width="320" height="240" controls>
        <source src="" type="video/mp4">
    </video>

    <h3 id="evaluationTitle">Our Evaluation</h3>
    <div id="evaluationContainer">
        <p id="evaluationResult">Upload Presentation to Receive Evaluation</p>
        <div id="evaluationSpinner" class="loader hidden"></div>
    </div>

    <div id="transcriptControls">
        <button id="toggleButton">Toggle Transcription</button>
    </div>

    <h3 id="transcriptTitle">Transcription Output:</h3>
    <div id="transcriptContainer">
        <p id="transcriptResult">Upload Video to Transcribe</p>
        <p id="ellipsis" style="display:none;">. . .</p>
        <div id="loadSpinner" class="loader hidden"></div>
    </div>
{% endblock %}
